/* Color theme is Solarized Light. */

/* See https://www.nihilist.org.uk/ for the font. */
/* See https://docs.ankiweb.net/#/templates/styling?id=installing-fonts for installing it. */
/* If you use the media folder option, rename the font to one of the file names in line 8 or change the CSS accordingly. */
@font-face {
  font-family: KanjiStrokeOrdersFromFile;
  src: url('_KanjiStrokeOrders_v4.002.ttf') url('_KanjiStrokeOrders_v4.ttf') url('_KanjiStrokeOrders.ttf');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.card {
  background-color: #eee8d5; /* base2 */
  color: #93a1a1; /* base1 */
  text-align: center;
}

.card > div, .card > span > div {
  width: 80vw;
  background-color: #fdf6e3; /* base3 */
  min-height: 100vh;
  padding-top: 1em;
}

.card > div > div, .card > span > div > div {
  width: 100%;
  padding: 8px 15px 8px 8px;
  font-size: 1.8em;
}

.canvas {
  border-bottom: 30px solid #fdf6e3; /* base3 */
}

.canvas-frame {
  box-sizing: content-box;
  border-bottom: 8px solid #fdf6e3; /* base3 */
  background-color: #eee8d5; /* base2 */
  position: relative;
  width: calc(80vw - 16px);
  padding-bottom: calc(80vw - 8px);
}

canvas {
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.canvas-frame > div {
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: KanjiStrokeOrders, KanjiStrokeOrdersFromFile, sans-serif;
  color: #586e75; /* base01 */
  font-size: calc(80vw - 16px);
  line-height: 1;
}

button {
  border: none;
  background: none;
  color: #93a1a1; /* base1 */
}

.ichidan-verb {
  color: #dc322f; /* red */
}

.godan-verb {
  color: #268bd2; /* blue */
}

.irregular-verb {
  color: #859900; /* green */
}